@model WorkloadTest.Models.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tasks</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Routine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Routine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Analyst_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Analyst_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Purpose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Purpose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Requestor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Requestor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Workload)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Workload)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Workload_Unit_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Workload_Unit_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Start_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Start_Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Request_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Request_Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frequency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frequency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Period_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Period_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_Added)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_Added)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Added)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Added)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Task_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
